li.wfm-favotites-link {
  display: flex;
  align-items: center;
  height: 20px;
}

.wfm-favorites-del-all img,
.wfm-favotites-link img {
  height: 20px;
}

.wfm-favorites-del {
  color: #ff0000;
  font-weight: bold;
}
.wfm-favorites-del:hover {
  color: #cc0000;
}
.wfm-favorites-hidden {
  display: none;
}
